# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
df1 = pd.DataFrame([[30,21]], columns=['Apples','Bananas'])
print(df1)

   Apples  Bananas
0      30       21

In [4]:
df2 = pd.DataFrame([[35,21],[41,34]], index = ['2017 Sales', '2018 Sales'], columns = ['Apples', 'Bananas'])
print(df2)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [5]:
list = [["Austin", 139, "Sun"],
        ["Dallas", 237, "Sun"],
        ["Austin", 139, "Mon"],
        ["Dallas", 456, "Mon"]]
print ("{:<8} {:<15} {:<10}".format('city','visitor','weekday'))

for v in list:
    city, visitor, weekday = v
    print ("{:<8} {:<15} {:<10}".format(city,visitor,weekday))
#用迴圈方式呈現

df = pd.DataFrame(list, columns = ['city','visitor','weekday']) 
print(df)

#用pandas方式呈現

#還可以用tabulate 設header使用

city     visitor         weekday
Austin   139             Sun
Dallas   237             Sun
Austin   139             Mon
Dallas   456             Mon
     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [6]:
'''
Your Code
'''

Sun 188.0
Mon 297.5

In [6]:
df = pd.DataFrame(list, columns = ['city','visitor','weekday']) 
print(df)
print(df.groupby('weekday').mean())

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon
         visitor
weekday
Mon        297.5
Sun        188.0