# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [17]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3), columns=['A','B','C'], index=pd.date_range('2013-01-01','2013-01-05'))
print(df)
# print(df.loc['2013-01-01':'2013-01-02'])
# df.loc[ '2013-01-01', 'A'] #只有一個指定數值 
# df.loc[ '2013-01-01', ['A', 'B'] ] #兩個指定數值  
# df.loc[ '2013-01-01':'2013-01-02', 'A' ] #兩個指定數值
# df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] #指定從哪裡到哪裡，所以出現整個表格

                   A         B         C
2013-01-01 -0.741900  2.712143  1.728402
2013-01-02  1.026722 -0.096522 -1.058588
2013-01-03 -0.333400  0.904812 -0.801200
2013-01-04  0.454992  0.093943  0.257467
2013-01-05  1.940043 -1.503886  0.295937

In [20]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print('--------------------------------')
print(df.head(3))
print('--------------------------------')
print(df.loc[df.index%2==1])
print('--------------------------------')
print(df.tail(2))
print('--------------------------------')
print(df.loc[df.index%2==0])
print('--------------------------------')
print(df[['col1','col3']])

       col1      col2      col3
0  1.212483 -2.006090 -0.635475
1 -1.595878 -0.542740  0.186487
2  1.087467 -0.921713  0.647803
3  0.528241  1.435977 -1.408794
4 -1.356034  2.546624  0.870228
5 -1.028297  0.664462 -0.828773
--------------------------------
       col1      col2      col3
0  1.212483 -2.006090 -0.635475
1 -1.595878 -0.542740  0.186487
2  1.087467 -0.921713  0.647803
--------------------------------
       col1      col2      col3
1 -1.595878 -0.542740  0.186487
3  0.528241  1.435977 -1.408794
5 -1.028297  0.664462 -0.828773
--------------------------------
       col1      col2      col3
4 -1.356034  2.546624  0.870228
5 -1.028297  0.664462 -0.828773
--------------------------------
       col1      col2      col3
0  1.212483 -2.006090 -0.635475
2  1.087467 -0.921713  0.647803
4 -1.356034  2.546624  0.870228
--------------------------------
       col1      col3
0  1.212483 -0.635475
1 -1.595878  0.186487
2  1.087467  0.647803
3  0.528241 -1.408794
4 -1.356034  0.870228
5 -1.028297 -0.828773

In [21]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df[['col1','col3']]

       col1      col3
0 -0.884767  2.304767
1 -0.689055 -2.368233
2 -1.815161  0.237035
3  1.516296  1.100521
4  0.270463 -0.720529
5 -0.612772  0.150427

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [62]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)
print('--------------------------------------------')
condition=df[0]>20
filterdata=df[0][condition]
print(filterdata)

# filt = df[0]>20
# print(df.loc[filt]) #這個也可以
print('--------------------------------------------')
condition=df[0]+df[1]>50
filterdata=df[condition]
print(filterdata)
print('--------------------------------------------')
condition=(df[0]<30) & (df[1]>30)
print(df.loc[condition])
print('--------------------------------------------')
df['sum']=df.sum(axis=1)
print(df)
print('--------------------------------------------')
filter=df['sum']>100
print(df.loc[filter])

     0   1   2   3
0   32  31  28  36
1   21  39  18  10
2   24  18  19  12
3   11  23  36  29
4   16  27  38  12
5   24  35  28  27
6   36  25  21  23
7   15  21  27  18
8   20  35  35  13
9   11  22  18  10
10  28  14  16  39
11  15  21  34  27
12  14  12  32  17
13  37  10  18  33
14  38  16  24  21
--------------------------------------------
0     32
1     21
2     24
5     24
6     36
10    28
13    37
14    38
Name: 0, dtype: int32
--------------------------------------------
     0   1   2   3
0   32  31  28  36
1   21  39  18  10
5   24  35  28  27
6   36  25  21  23
8   20  35  35  13
14  38  16  24  21
--------------------------------------------
    0   1   2   3
1  21  39  18  10
5  24  35  28  27
8  20  35  35  13
--------------------------------------------
     0   1   2   3  sum
0   32  31  28  36  127
1   21  39  18  10   88
2   24  18  19  12   73
3   11  23  36  29   99
4   16  27  38  12   93
5   24  35  28  27  114
6   36  25  21  23  105
7   15  21  27  18   81
8   20  35  35  13  103
9   11  22  18  10   61
10  28  14  16  39   97
11  15  21  34  27   97
12  14  12  32  17   75
13  37  10  18  33   98
14  38  16  24  21   99
    0   1   2   3  sum
0  32  31  28  36  127
5  24  35  28  27  114
6  36  25  21  23  105
8  20  35  35  13  103

In [35]:
'''
Your Code
'''

'\nYour Code\n'